footer {
    background-color: $black-color;
    border: 1px solid $gray-light-color;
    color: $white-color;
    font: normal normal 300 16px/26px Roboto;
    letter-spacing: 0.32px;


    .container {

        flex-direction: column;
        align-items: flex-start;

    }

    #footer {
        padding: 50px 0;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer-menus {
            display: flex;
            align-items: center;
            gap: 44px;

            @include device(sm) {
                justify-content: space-between;
                width: 100%;
                flex-wrap: wrap;

            }



            img {
                width: 77px;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 40px;

                @include device(sm) {
                    gap: 22px;
                    flex-direction: column;
                }
            }
        }

        .footer-socias {
            ul {
                display: flex;
                align-items: center;
                gap: 30px;

                @include device(sm) {
                    display: none;
                }

                .item-icone {
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .create {

        padding: 20px 0 13px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #484848;

        p {
            display: flex;
            align-items: center;

            @include device(sm) {
                font: normal normal 300 12px/26px Roboto;
                letter-spacing: 0.24px;
            }

            a {
                margin-left: 25px;

                @include device(sm) {
                    margin-left: 5px;
                }

                img {
                    width: 35px;
                    height: 38px;

                    @include device(sm) {
                        width: 26px;
                        height: 29px;
                    }
                }
            }
        }
    }
}