$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #F5F5F5;
$gray-dark-color: #333333;
$gray-light-color: #707070;
$gray-lighter-color: #DDDDDD;
$gray-lightest-color: #00000029;
$primary-color: #2CCCD3;
$primary-light-color: #2DCCD2;
$black-light-color: #484848;
$green-light-color: #89C993;
$green-dark-color: #266666;