.btn-saibaMais {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white-color;
    border: 2px solid $primary-color;
    border-radius: 50px;
    font-weight: bold;
    width: 196px;
    height: 50px;
    padding: 0 30px;
    transition: .2s all ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }


}

.btn-filter {
    color: $gray-dark-color;
    border-radius: 50px;
    border: 2px solid $gray-dark-color;
    font-size: 16px;
    background: none;
    padding: 11px 30px;
    transition: .2s all ease-in-out;

    &:hover {
        color: $white-color;
        border-color: $green-dark-color;
        background-color: $green-dark-color;
    }

    &.btn-active {
        color: $white-color;
        border-color: $green-dark-color;
        background-color: $green-dark-color;
    }

}

.btn-lerMais {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    color: $primary-color;
    border-bottom: 2px solid $primary-color ;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 0 2px;

    transition: .2s all ease-in-out;

    &:hover {
        i {
            transform: translateX(2px);
        }

    }

    i {
        font-size: 12px;
        transition: .2s all ease-in-out;
    }
}

.btn-VejaVideo {
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    border-radius: 50px;

    height: 62px !important;
    width: 376px;
    background-color: $white-color;
    padding: 0 30px;

    i {
        font-size: 25px;
        transform: rotate(90deg);
    }

    margin-top: auto;
    transition: .2s all ease-in-out;



}

.btn-download {
    color: $primary-color;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid $primary-color;
    background-color: $white-color;
    border-radius: 50px;
    width: 237px;
    height: 51px;

    cursor: pointer;
    transition: .2s all ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    @include device(sm) {
        width: 100%;
    }
}

.btn-orcamento {
    width: 229px;
    height: 51px;

    border: 2px solid $primary-color;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;

    font: normal normal bold 16px/30px Roboto;
    color: $primary-color;
    background-color: $white-color;

    transition: .2s all ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

}