.title,
.title-special {

    color: $gray-dark-color;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    font-size: 32px;
    line-height: 30px;
    border-bottom: 3px solid $primary-color;
    width: fit-content;
    margin-bottom: 25px;

    @include device(sm) {

        margin: 0;
        font-size: 30px;
    }

}

.title-special {


    border: none;

    span {
        display: block;
        color: $gray-dark-color;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        font-size: 32px;
        line-height: 30px;
        border-bottom: 3px solid $primary-color;
        width: fit-content;
        padding: 0 2px;
    }
}

.paragraph {
    color: $gray-dark-color;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 30px;
}

.paragraph-blue {
    color: $primary-color;
    display: block;
    font-size: 16px;
}

.title-with-logo {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: $primary-color;


    svg {
        width: 112px;
        height: 34px;

        path {
            fill: $primary-color;
        }
    }

    .sub-title {
        font-size: 20px;
        font-weight: 300;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            display: block;
            height: 35px;
            width: 1px;
            background-color: $primary-color;
            margin: 0 10px;
        }
    }

}